@import url('https://fonts.googleapis.com/css?family=Nunito');
html{
	min-width: 900px;
}
.logo{
	color: #efb201;
	font-size: 3.5em;
	margin-top: 50px;
}
body{
	width: 100%;
	height:100%;
	background-color: #ebebec;
	
	margin:0;
}
.App {
  text-align: center;
  background-color: #ebebec;
  width: 100%;
  height: 100%;
}
.HomeScreen-noStreams{
	background-color: #ebebec;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	font-family: 'Nunito', sans-serif;
}
.animated_logo{

	font-family: 'Nunito', sans-serif; 
	width: 100%;
	height: 465px;
	background-image: url("imgs/animated-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	font-size: 24px;
	line-height: 0px;
	margin-top: 20px;
	color: #502f7e
}
.no_active_channels_p{
	height: 30px;
	margin-top: 10px;
	font-weight: 600;
	margin-bottom: 0px;
}
.create_vibe_p{
	font-family: 'Open Sans';
	font-size: 0.6em;
	font-weight: 500px;
}
.btnAddChannel{
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
  width: 129px;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  background-color: #ea3546;
  color: white;
  position:absolute;
  top:136px;
  right:20%;
}
.topContainer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.pathHomeScreen{
	position:relative;
	left:16%;
	width: 33%;
	margin-top: -3%;
}

.HomeScreen-stream-topLogo{
	width: 100%;
	height: 500px;
	background-image: url("imgs/oval.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.HomeScreen-stream-heading{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 16px;
	font-size: 72px;
	color: #efb201;
}
.blue_letter{
	color:#502f7e;
}
.HomeScreen-stream-live_channel_text{
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
	margin-top: 24px;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 21px;
	color:#502f7e;
}
.HomeScreen-stream-line{
  	width: 48px;
  	height: 2px;
  	background-color: #502f7e;
  	margin-top: 16px;
}
.HomeScreen-stream-channelHolder{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 16px;
	
}
.volume_controller_dot_blue{
	width: 6px;
	height: 6px;
	background-color: #502f7e;
	border-radius: 100%;
}
.volume_controller_dot_clickable{
	width: 8px;
	height: 6px;
	display: flex;
	justify-content: center;
}
.red{
	background-color:#ea3546;
}
.disabled{
	background-color: gray;
}
.volume_controller_handler{
	position: relative;
	top:8px;
	display: flex;
	flex-direction: row;
}
.channel_background{
	
	position: relative;
	background-color: white;
	border-style: solid;
	border-radius: 16px;
	border-color: #502f7e;
	border-width: 1px;
	width:60%;
	height: 10%;
	margin-bottom: 8px;
	padding: 16px;
	display: flex;
}
.channel{
	position: relative;
	left: 271px;
}
.channel_section{
	display: inline-block;
	height: 100%;
	width:25%;
	margin-left: 10px;
}
.channel_name_section{
	line-height: 10px;
}
.channel_section_listener_text{
	margin-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#502f7e;
	padding-top: 38px;
	font-size: 12px;
}
.channel_section_listener_handler{
	display:block;
}
.channel_listeners_section{
	margin-top: 0px;
	padding-top: 0px;
	/*position:absolute;
	left: 271px; */
}
.channel_section_numberOfListeners_text{
	text-align: center;
	font-size: 21px;
	color:#502f7e;
	font-weight: bold;
	margin-top: 0px;
}
.channel_section_name_live{
	display: inline;
}
.channel_section_channel_live_status{
	font-family: Arial, Helvetica, sans-serif;
	color: #502f7e;
	font-size: 12px;
	display: inline;
	font-weight: 100;
}
.channel_audio_section{
/*	position: absolute;
	left: 413px; */
	line-height: 4px;
}
.channel_audio_audio_source_label{
	color: #502f7e;
	font-size: 12px;
	font-weight: 200;
}
.channel_audio_audio_source_value{
	color: #502f7e;
	font-size: 12px;
	font-weight: 900;
	margin-top: 16px;
	margin-bottom: 8px;
}
.volume_controller_db_label{
	font-size: 12px;
	color: #502f7e;
	margin-left: 4px;
}
.channel_audio_volume_handler{
	position:absolute;
	top:55px;
}
.red-dot-8px{
	background-color: red;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.channel_audio_volume_label{
	position:relative;
	top:16px;
}
.dot_16_px{
	width: 8px;
	height: 8px;
	background-color: red;
	border-radius: 100%;
}
.fontLight{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
}
.bold{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bolder;
}
.channelName{
	font-weight: 600;
	font-size: 1.3em;
	color: #502f7e;
}
.channel_settings_section{
	/*position: absolute;
	left: 626px; */
	display: flex;
	flex-direction: row;

}
.channel_settings_editBtn{
	width: 40%;
	height: 40px;
	margin-top: 37px;
	margin-left: 8px;
	font-weight: 500;
	color:#502f7e;
	border-color:#502f7e;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.channel_settings{
	background-image: url("imgs/icon-pause.svg");
	margin-top: 37px;
	width: 40px;
	height: 40px;
}
.channel_delete{
	margin-left: 8px;
	background-image: url("imgs/delete.svg");
	width: 40px;
	height: 40px;
	margin-top: 37px;
}
.play{
	background-image: url("imgs/play.svg");
}
.channel_genre{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	font-weight: 100;
}
.edit_channel_screen_edit_channel{
	width: 80%;
	height: 1200px;
	background-color:white;
	margin-top: 120px;
	border: 1px solid #502f7e;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	position:relative;
}
.edit_channel_edit_form{
	width: 45%;
	height:100%;
	text-align: left;
	margin-left: 48px;
}
.edit_channel_preview{
	width: 46%;
	height:100%;
	text-align: left;
	float: left;
}
.edit_channel_new_channel_p{
	font-size: 21px;
	
	margin-top: 48px;
}
.edit_channel_line{
	width: 48px;
 	height: 2px;
	background-color: #502f7e;
	margin-top: 60px;
}
.edit_channel_radioButtons{
	width: 100%;
	height: 100px;
	margin-top: 20px;
}
.top{
	margin-top: 0px;
}
.radiobutton_text{
	margin-top: 23px;
	font-size: 21px;
}
.center{
	display:flex;
	justify-content: center;
}

.radiobutton_outer{
	margin-top: 10px;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: rgba(255, 0, 0, 0);
	border: 4px solid #502f7e;
	display: flex;
	justify-content: center;
	align-items: center;
}
.radiobutton_inner{
	width: 16px;
	height: 16px;
	background-color: #502f7e;
	border-radius: 50%;
}
.radio_button_handler{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.new_channel_text_input{
  width: 80%;
  height: 40px;
  font-size: 1.2em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: normal;
  color: #acacaf;
  margin-top: 20px;
}
.edit_channel_channel_name_tag{
	font-weight: 500;
	margin-top: 20px;
	font-size: 0.6em;
}
.edit_channel_channel_name_warning{
	font-size: 12px;

}
.edit_channel_channel_dj_warning{
	margin-top: 20px;
	font-size: 12px;
}
.new_channel_name{
	
}
.new_channel_dj{
	margin-top: 0px;
}
.edit_channel_channel_dj_tag{
	font-weight: 500;
	margin-top: 40px;
	font-size: 0.6em;
}
.new_channel_genre{
	margin-top: 0px;
}
.edit_channel_channel_genre_tag{
	margin-top: 40px;
	font-size: 0.6em;
	font-weight: 500;
}
.edit_channel_channel_genre_warning{
	font-size: 12px;
	margin-top: 20px;
}
.edit_channel_handler{
	width: 100%;
	padding-top: 25%;
}
.edit_channel_preview_text{
	font-weight: 400;
	font-size: 0.5em;
	margin-left: 2%;
}
.edit_channel_cover_file{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8em;
	background-color: #ea3546;
	color: aliceblue;
	margin-top: 10px;
	width:40%;
	height: 50px;
	border-radius: 16px;
}
.edit_channel_channel_file_tag{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1vmax;
	font-weight: 500;
	margin-top: 40px;
}
.inputfile{
	display:none;
}
.color_chooser_handler{
	margin-top: 30px;
	display:flex;

}
.color_chooser{
	width: 40px;
	height: 40px;
	margin-right: 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.color_chooser_blue{
	background-color:#4a90e2;
}
.color_chooser_red{
	background-color:#ea3546;
}
.color_chooser_green{
	background-color:#29d321;
}
.color_chooser_purple{
	background-color:#bd10e0;
}

.color_chooser_whitebox{
	width: 10px;
	height: 10px;
	border-radius: 2px;
	border: solid 3px white;
}
.color_chooser_active{
	background-color: white;
}
.edit_channel_format_warning{
	font-weight: 500;
	margin-top: 15px;
	font-size: 12px;
}
.edit_channel_color{
	font-size: 1vmax;
	font-weight: 500;
	margin-top: 40px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.edit_channel_volume_control{
	margin-top: 30px;
	font-size:12px;
}
.color_chooser_block{
	display: block;
	flex-wrap: wrap;
	font-weight: 600;
	font-size: 14px;
}
.color_chooser_color_tag{
	width: 40px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.block{
	display:block;
}
.file_delete{
	margin-left: 5px;
	background: url("imgs/icons8-delete.svg");
	background-size: 15px;
	height: 60%;
	width: 10%;
	background-repeat: no-repeat;
	background-size: cover;
}
.edit_channel_source_select{
	margin-top: 20px;
	width: 70%;
	height: 50px;
	background-color: white;
	border: 1px solid #502f7e;
	border-radius: 5px;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
	background: url(imgs/down.svg) 96% / 10% no-repeat #eee;
	padding-left: 10px;
	font-size: 18px;
	color:#502f7e;
}
.skuska{
	margin-top: -100px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.linkWidth{
	width: 30%;
	margin-right:10px;
}
.backButton{
	color:#ea3546;
	font-size:16px;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top: 1px;
	width: 100%;
	height:40px;
	border: 1px solid #ea3546;
	border-radius: 18px;
	text-align: right;
}
.saveButton{
	margin-left: 10px;
	display:flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 40px;
	color:white;
	font-size: 16px;
	border-radius: 18px;
	background-color: #ea3546;
}
@media only screen and (max-width: 1000px) {
  .btnAddChannel{
  	right: 10%;
  }
}
@media only screen and (min-width: 1550px) {
	.btnAddChannel{
		right: 23%;
	}
  }
/*not working*/
/*
@media screen and (min-width: 1920px) and (min-height: 1080px) {
	html {
	   -webkit-transform: scale(1.2);
	   -moz-transform: scale(1.2);
	   transform: scale(1.2);
	}
 }
*/