@import url('https://fonts.googleapis.com/css?family=Nunito');
/*	MODAL ANIMATION	*/
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
:root{
	--background: #
}
.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
/*	ENDOF MODAL ANIMATION	*/
html{
	min-width: 900px;
	
}
.logo{
	color: #efb201;
	font-size: 72px;
	margin-top: 65px;
	letter-spacing: 2px;
}
body{
	width: 100%;
	height:100vh;
	background-color: #ebebec;
	padding:0;
	margin:0;
}
.App {
  text-align: center;
  background-color: #ebebec;
  width: 100%;
  height: 100%;
}
.HomeScreen-noStreams{
	background-color: #ebebec;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	font-family: 'Nunito', sans-serif;
}
.animated_logo{
	font-family: 'Nunito', sans-serif; 
	width: 1024px;
	height: 465px;
	background-image: url("imgs/animated-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	font-size: 24px;
	line-height: 0px;
	margin-top: 20px;
	color: #502f7e;
	margin-top:0px;
	position: relative;
}
.no_active_channels_p{
	text-align: center;
	color:#502f7e;
	font-family: Nunito;
	font-size: 21px;
	letter-spacing: 0.3px;
	line-height: 1.14;
	height: 24px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.create_vibe_p{
	letter-spacing:  -0.2px;
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	color:#502f7e;
	margin-top: -2px;
}
.btnAddChannel_noStream{
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	width: 128px;
	height: 40px;
	border-style: none;
	border-radius: 15px;
	background-color: #ea3546; 
	color: white;
	letter-spacing: 0.7px;
	margin-left: 550px;
	margin-top: 38px;
}
.btnAddChannel{
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	width: 128px;
	height: 40px;
	border-style: none;
	border-radius: 15px;
	background-color: #ea3546; 
	color: white;
	letter-spacing: 0.7px;
	margin-left: 180px;
	margin-top: 22px;
}
.btnNoStreams-holder{
	width: 100%;
	margin-top: -62px;
	margin-left: 65px;
}
.HomeScreen-button-holder{
	margin-top: -5px;
	display: flex;
}
.topContainer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.topContainer_noChannels{
	height:41px;
}
.topContainer > * {
	flex: 1 1 100%;
}
.pathHomeScreen{
	position:relative;
	margin-left: 385px;
	margin-top: -13px;
}

.HomeScreen-stream-topLogo{
	width: 1024px;
	height: 1024px;
	background-image: url("imgs/oval.svg");
	background-position: top center;
	background-repeat: no-repeat;
}
.HomeScreen-stream-heading{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	letter-spacing: 1px;
	font-size: 72px;
	color: #efb201;
}
.blue_letter{
	color:#502f7e;
}
.HomeScreen-stream-live_channel_text{
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
	margin-top: 20px;
	letter-spacing: 0.4px;
	display: flex;
	margin-top: 20px;
	margin-left: 415px;
	justify-content: center;
	font-size: 21px;
	color:#502f7e;
}
.HomeScreen-stream-line{
  	width: 48px !important; 
  	height: 2px !important;
  	background-color: #502f7e;
	margin: 0 auto;
	/*	margin-top: 16px;
	margin-bottom: 4px; */
}
.HomeScreen-stream-channelHolder{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 10px;
	
}
.volume_controller_dot_blue{
	width: 6px;
	height: 6px;
	background-color: #502f7e;
	border-radius: 100%;
}
.volume_controller_dot_clickable{
	width: 8px;
	height: 6px;
	display: flex;
	justify-content: center;
}
.red{
	background-color:#ea3546;
}
.disabled{
	background-color: gray;
}
.volume_controller_handler{
	margin-top: -3px;
	margin-left: -2px;
	display: flex;
	flex-direction: row;
}
.channel_background{
	background-color: white;
	border-style: solid;
	border-radius: 16px;
	border-color: #502f7e;
	border-width: 1px;
	width:812px;
	height: 111px;
	display: flex;
}

.channel_section{
	height: 100%;
	width:25%;
	margin-left: 10px;
}
.channel_name_section{
	line-height: 10px;
}
.channel_section_listener_text{
	margin-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#502f7e;
	padding-top: 38px;
	font-size: 12px;
	margin-left: 50px;
}
.channel_section_listener_handler{
	display:block;
}
.channel_listeners_section{
	margin-top: -2px;
	padding-top: 0px;
	margin-left: -55px;
	display: flex;
	justify-content: center;

}
.channel_section_numberOfListeners_text{
	text-align: center;
	font-size: 21px;
	color:#502f7e;
	font-weight: bold;
	margin-top: 0 ;
	width: 100%;
	margin-left: 22px;
}
.channel_section_name_live{

}
.channel_section_channel_live_status{
	font-family: Arial, Helvetica, sans-serif;
	color: #502f7e;
	color: black;
	font-size: 12px;
	font-weight: 100;
	margin-top: 18px;
	margin-left: 8px;
	letter-spacing: 0.4px;
}
.channel_audio_section{
	margin-left: 55px;
	line-height: 4px;
	font-family: 'Open sans';
	color: #502f7e;
	margin-top: 7px;
	font-size:12px;
}
.channel_audio_audio_source_label{
	color: #502f7e;
	font-size: 12px;
	font-weight: 200;
}
.channel_audio_audio_source_value{
	color: #502f7e;
	font-size: 12px;
	font-weight: 900;
	margin-top: 16px;
	margin-bottom: 8px;
}
.volume_controller_db_label{
	font-size: 12px;
	color: #502f7e;
	margin-left: 13px;
	font-weight: 600;
	margin-top: 3px;
	
}
.channel_audio_volume_handler{
	margin-top: 0px;

}
.red-dot-8px{
	background-color: red;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.channel_audio_volume_label{
	margin-top: 27px;
	letter-spacing: -0.4px;
}
.dot_16_px{
	width: 8px;
	height: 8px;
	background-color: red;
	border-radius: 100%;
}
.fontLight{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
}
.bold{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bolder;
}
.channelName{
	margin-top: 10px;
	margin-left: 8px;
	font-weight: 600;
	font-size: 1.3em;
	color: #502f7e;
}
.channel_dj{
	margin-top: -7px;
}
.channel_settings_section{
	display: flex;
	flex-direction: row;
	margin-left: -2px;
	margin-top: -2px;
}
.channel_settings_handler{
	margin-left: 15px;
	display:flex;
	width: 100%;
}
.edit_channel_source_control_handler{
	margin-top: 52px;
}
.channel_settings_editBtn{
	width: 72px;
	height: 38px;
	margin-top: 37px;
	margin-left: 10px;
	font-weight: 500;
	color:#502f7e;
	border-color:#502f7e;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.channel_settings{
	background-image: url("imgs/icon-pause.svg");
	margin-top: 37px;
	width: 40px;
	height: 40px;
}
.channel_delete{
	margin-left: 5px;
	background-image: url("imgs/delete.svg");
	width: 40px;
	height: 40px;
	margin-top: 37px;
}
.play{
	background-image: url("imgs/play.svg");
}
.channel_genre{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	color: #502f7e;
	margin-top: -8px;
	margin-left: 9px;
	font-weight: 100;
}
.edit_channel_screen_edit_channel{
	width: 976px;
	height: 1096px;
	background-color:white;
	margin-top: 120px;
	border: 1px solid #502f7e;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	position:relative;
}
.edit_channel_edit_form{
	width: 480px;
	height:100%;
	text-align: left;
	margin-left: 48px;
}
.edit_channel_preview{
	width: 400px;
	height:100%;
	text-align: left;
	float: left;
}
.edit_channel_new_channel_p{
	font-size: 21px;
	font-weight: 600;
	margin-top: 58px;
	letter-spacing: 0.3px;
}
.edit_channel_line{
	width: 48px;
 	height: 2px;
	background-color: #502f7e;
	margin-top: 38px;
}
.edit_channel_radioButtons{
	width: 100%;
	height: 100px;
	margin-top: 20px;
	margin-left: 4px;
}
.top{
	margin-top: 0px;
}
.radiobutton_text{
	margin-top: 23px;
	font-size: 21px;
	margin-left: 4px;
	letter-spacing: 0.465px;
}
.center{
	width: 100%;
	display:flex;
	justify-content: center;
}
.logo_newChannel{
	width: 100%;
	text-align: center;
	height: 10px !important;
}
.radiobutton_outer{
	margin-top: 10px;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: rgba(255, 0, 0, 0);
	border: 4px solid #502f7e;
	display: flex;
	justify-content: center;
	align-items: center;
}
.radiobutton_inner{
	width: 16px;
	height: 16px;
	background-color: #502f7e;
	border-radius: 50%;
}
.radio_button_handler{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 3px;
}
.new_channel_text_input{
  width: 80%;
  height: 40px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: normal;
  color: #acacaf;
  margin-top: 20px;
  padding-left: 5px;
  border-color: #502f7e;
}
.edit_channel_channel_name_tag{
	font-weight: 600;
	margin-top: 27px;
	font-size: 0.6em;
	letter-spacing: -0.4px;
}
.edit_channel_channel_name_warning{
	font-size: 12px;
	margin-left: 7px;
	margin-top: 20px;
}
.edit_channel_channel_dj_warning{
	margin-top: 18px;
	font-size: 12px;
	margin-left: 5px;
	
}
.new_channel_name{
	margin-top: 2px;
	width: 310px;
	height: 35px;
	border-width: 1px;
	border-radius: 5px;
}
.new_channel_dj{
	margin-top: 0px;
	width: 310px;
	height: 37px;
	border-width: 1px;
	border-radius: 5px;
}
.edit_channel_channel_dj_tag{
	font-weight: 600;
	margin-top: 46px;
	font-size: 14px;
}
.new_channel_genre{
	margin-top: 0px;
	width: 310px;
	height: 37px;
	border-width: 1px;
	border-radius: 5px;
}
.edit_channel_channel_genre_tag{
	margin-top: 48px;
	font-size: 13px;
	font-weight: 600;
}
.edit_channel_channel_genre_warning{
	font-size: 12px;
	margin-top: 20px;
}
.edit_channel_audio_select_warning{
	font-size: 11px;
	margin-top: 20px;
	margin-left: 5px;
}
.edit_channel_handler{
	width: 100%;
	padding-top: 25%;
}
.edit_channel_preview_text{
	font-weight: 600;
	font-size: 12px;
	margin-left: -34px;
	margin-top: 26px;
}
.edit_channel_phone{
  width: 550px;
  height: 690px;
  margin-left: -170px;
  margin-top: -30px;
  background: url("./imgs/phone-and-headphones.svg");
  background-size: cover;

}
.edit_channel_cover_file{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	background-color: #ea3546;
	color: aliceblue;
	margin-top: 11px;
	width:281px;
	height: 44px;
	border-radius: 16px;
}
.edit_channel_channel_file_tag{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin-top: 40px;
	letter-spacing: -0.3px;
}
.inputfile{
	display:none;
}
.color_chooser_handler{
	margin-top: 23px;
	display:flex;

}
.color_chooser{
	width: 40px;
	height: 40px;
	margin-right: 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.color_chooser_blue{
	background-color:#4a90e2;
}
.color_chooser_red{
	background-color:#ea3546;
}
.color_chooser_green{
	background-color:#29d321;
}
.color_chooser_purple{
	background-color:#bd10e0;
}

.color_chooser_whitebox{
	width: 10px;
	height: 10px;
	border-radius: 2px;
	border: solid 3px white;
}
.color_chooser_active{
	background-color: white;
}
.edit_channel_format_warning{
	font-weight: 500;
	margin-top: 16px;
	font-size: 12px;
	margin-left: 5px;
}
.edit_channel_color{
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.4px;
	margin-top: 46px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.edit_channel_volume_control{
	margin-top: 40px;
	font-size:12px;
}
.edit_name_channel_volume_label{
	margin-bottom: 17px;
}

.color_chooser_block{
	display: block;
	flex-wrap: wrap;
	font-weight: 600;
	font-size: 14px;
	margin-right: 6px;
}
.color_chooser_color_tag{
	width: 40px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.block{
	display:block;
}
.file_delete{
	margin-left: 5px;
	background: url("imgs/icons8-delete.svg");
	background-size: 15px;
	height: 60%;
	width: 10%;
	background-repeat: no-repeat;
	background-size: cover;
}
.edit_channel_source_select{
	margin-top: 16px;
	width: 316px;
	height: 39px;
	border-width: 1px;
	border-radius: 5px;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
	background: url(imgs/down.svg) 96% / 10% no-repeat #eee;
	padding-left: 10px;
	font-size: 18px;
	color:#502f7e;
}
.skuska{
	margin-top: -100px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.linkWidth{
	width: 30%;
	margin-right:10px;
}
.backButton{
	color:#ea3546;
	font-size:16px;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top: 49px;
	margin-left: 305px;
	width: 129px;
  	height: 38px;
	border: 1px solid #ea3546;
	border-radius: 18px;
	text-align: right;
}
.saveButton{
	margin-left: -34px;
	margin-top: 232px;
	display:flex;
	justify-content: center;
	align-items: center;
	width: 129px;
	height: 40px;
	color:white;
	font-size: 16px;
	border-radius: 18px;
	background-color: #ea3546;
}
.modal_delete_channel_warning{
	text-align: center;
	font-family: 'Open Sans';
	color: #502f7e;
	font-size: 0.8em;
	font-weight: 300;
	margin-bottom: 48px;
}
.modal_delete_channel_question{
	height: 50px;
	margin-top: 25px auto;
	color: #502f7e;
	font-family: 'Nunito';
	font-size: 1.5em;
	font-weight: 600;
	width: 100%;
	text-align: center;
}
.modal_delete_back{
	width: 40%;
	height: 50px;
	background-color: white;
	color: #ea3546;
	border:1px solid #ea3546;
	border-radius: 25px;
	margin-right: 5px;

	font-weight: 500;
	font-size: 1em;
}
.modal_delete_channel_line{
	margin-top: 0px;
	margin-bottom: 20px;
}

.modal_delete_line_holder{
	flex: 1 1 100%;
	display: flex;
	justify-content: center;
}
.modal_delete_confirm{
	height: 50px;
	margin-left: 5px;
	width: 40%;
	background-color: #ea3546;;
	color: white;
	border:1px solid #ea3546;
	border-radius: 25px;
	margin-right: 5px;
	
	font-weight: 500;
	font-size: 1em;
}
.modal_delete_button_holder{
	font-family: 'Nunito';
	width: 80%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin-bottom: 32px;
}
.modal_delete_channel_holder{
	display: flex;
	justify-content: center;
	align-items:center;
	flex-wrap: wrap;
	flex-direction:collumn;
}



.debug_no_channels{
	background-image: url("imgs/vibe-home-no_streams.png");
	background-size: contain;
	z-index: 999;
	opacity: 0.5;
	width: 1024px;
	height: 1024px;
	position: absolute;
	top:0px;
}
.debug_channels{
	background-image: url("imgs/vibe-home-streams.png");
	background-size: contain;
	z-index: 999;
	opacity: 0.5;
	width: 1024px;
	height: 1636px;
	position: absolute;
	top:0px;
}

.debug_new_channel{
	background-image: url("imgs/vibe-new-channel.png");
	background-size: contain;
	z-index: 999;
	opacity: 0.5;
	width: 1024px;
	height: 1291px;
	position: absolute;
	top:0px;
} 
.edit_channel_dj_form_input_holder{
	margin-top: 45px;
}
.error{
	border-color: #ea3546;
	border-width: 2px;
}